<!DOCTYPE html>
<html>
<head>
    <title>Date of match</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-line">
            <h4>Game reminders by Vshivtsev Dmitry</h4>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="date">Выбрать команду</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Главная страница</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<main>
    <br><br>
    <div class="card text-dark bg-light mb-3">
      <div class="card-header"><b>Информация о матче</b></div>
      <div class="card-body">
        <h6 class="card-text">
          {% if match_info.is_finish %}
              Матч завершён! Результат последней игры:<br> {{ match_info.actual_score }}
          {% else %}
              Матч идёт прямо сейчас! Счёт:<br> {{ match_info.actual_score }}
          {% endif %}
          <br><br>
          {% if match_info.is_next_game %}
              {% if match_info.next_game_time %}
                  Следующий матч клуба {{ match_info.club }} против клуба {{ match_info.opponent }} состоится
                  {{ match_info.next_game_date }} в {{ match_info.next_game_time }} (по МСК)
              {% else %}
                  Следующий матч клуба {{ match_info.club }} против клуба {{ match_info.opponent }} состоится
                  {{ match_info.next_game_date }}, но время игры пока неизвестно :(
              {% endif %}
          {% else %}
              Завтра будет информация о следующем матче!
          {% endif %}
        </h6>
      </div>
        <a href="http://vshivtsev.sit/date" class="btn btn-primary">Вернуться к выбору команды</a>
    </div>
</main>
</body>
</html>
