<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
</head>
<body>
    <center>
    <h2>Добро пожаловать!</h2>
    <form action="users" method="post">
        <p>
            Вид спорта:<br>
            <input name="kind_of_sport" />
        </p>
        <p>
            Лига:<br>
            <input name="league" />
        </p>
        <p>
            Клуб:<br>
            <input name="club" />
        </p>
        <input type="submit" value="Send" />
    </form>
    </center>
</body>
</html>