<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-line">
            <h4>Game reminders by Vshivtsev Dmitry</h4>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="date">Выбрать команду</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Главная страница</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<main>
    <div class="container">
        <section>
            <h5>
                Сервис позволяет узнать дату ближайшего матча. На данный момент доступны следующие виды спорта и лиги:
                <br><br>
                <ul>
                    <li class="nav-item">
                        <a>Футбол (РПЛ, Ла Лига, АПЛ, Бундеслига)</a>
                    </li>
                    <li class="nav-item">
                        <a>Хоккей (КХЛ, НХЛ)</a>
                    </li>
                    <li class="nav-item">
                        <a>Баскетбол (Единая лига ВТБ, НБА)</a>
                    </li>
                </ul>
                Если у тебя есть любимый клуб и ты хочешь ежедневно получать уведомления о предстоящих играх, то
                воспользуйся <a href="https://t.me/SportsMemo_bot" class="badge badge-info">Telegram-ботом</a>
            </h5>
        </section>
    </div>
</main>
</body>
</html>